absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
brotlipy==0.7.0
cachetools==5.1.0
certifi==2021.10.8
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/croot-2p6q7e2r/cffi_1642701115063/work
chardet==4.0.0
charset-normalizer==2.0.12
colorama==0.4.4
cryptography @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_b470f7cb-c8f1-42c9-b84f-23789ea77e7c9difcqh4/croots/recipe/cryptography_1652101134392/work
cycler==0.11.0
datasets==2.2.1
dill==0.3.4
et-xmlfile==1.1.0
executing==0.8.3
filelock==3.7.0
fonttools==4.33.3
frozenlist==1.3.0
fsspec==2022.3.0
google-auth==2.6.6
google-auth-oauthlib==0.4.6
grpcio==1.46.1
huggingface-hub==0.6.0
icecream==2.1.2
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata==4.11.3
joblib==1.1.0
jsonpickle==2.2.0
kiwisolver==1.4.2
Markdown==3.3.7
matplotlib==3.5.2
mkl-fft==1.3.1
mkl-random @ file:///opt/concourse/worker/volumes/live/0cda23d8-7460-44b2-7e5d-3c76a8a0ca7e/volume/mkl_random_1626186083266/work
mkl-service==2.4.0
more-itertools==8.13.0
multidict==6.0.2
multiprocess==0.70.12.2
music21==7.3.3
numpy==1.22.3
oauthlib==3.2.0
openpyxl==3.0.9
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
protobuf==3.20.1
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments==2.12.0
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
PySocks @ file:///opt/concourse/worker/volumes/live/112288ac-9cb0-4e73-768b-13baf4ca6419/volume/pysocks_1605305820043/work
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
regex==2022.4.24
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
requests-oauthlib==1.3.1
responses==0.18.0
rsa==4.8
scikit-learn==1.1.0
scipy==1.8.0
seaborn==0.11.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0
stefutils==0.6.0
sty==1.0.4
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.1.0
tokenizers==0.12.1
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tqdm==4.64.0
transformers==4.19.1
typing_extensions==4.2.0
urllib3 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_92f3a881-8cf4-469b-8319-736ffa3c6d61ordl4zjw/croots/recipe/urllib3_1650639998913/work
webcolors==1.11.1
Werkzeug==2.1.2
xxhash==3.0.0
yarl==1.7.2
zipp==3.8.0
